.modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: white;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 20rem;
  padding: 0.5rem;
}

.closeBtn:hover {
  transform: scale(1.1);
  transition: all 0.1s;
}

.settingsCard {
  position: relative;
  padding: 2rem;
  height: 80vh;
  background-color: white;
  width: 50%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.btn {
  position: absolute;
  bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  width: 8rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 20px;
}

.btn:hover {
  transition: all 0.2s;
  background-color: black;
  color: white;
}

.saveBtnContainer {
  display: flex;
  justify-content: center;
}
